body {
  font-family: sans-serif;
  background-color: #f3f3f3;
  text-align: center;
  padding-top: 50px;
}

button {
  padding: 8px 16px;
  background-color: #4f46e5;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #4338ca;
}